/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2021, 8:08:26 PM
    Author     : ADMIN
*/
html, 
body {
    height: 100%;
}

header{
    width: 100%;
    height: 100px;
    background-color: #ff3333;
}
nav{
    margin: auto;
    width: 50%;
    height: inherit;
    display: inline-block;
    float: none;
    background-color: #ff3333
}

nav a{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    margin-bottom: 28px;
    color: white;
    opacity: 1;
    padding: 10px;
    margin-top:  28px;
    width: auto;
}

div.search_container{
    float: none;
    width: 50%;
    margin: auto;
}
div#request_manager{
    position: absolute;
    width: 100%;
    height: fit-content;
}
div#search_container form{
    float: left;
    display: inline-block;
}
div.search_container button{
    float: next;
}
section.section_result{
    display: block;
    border: 3px;
    border-style: outset;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.request_result_container{
    position: relative;
    top: 20px;
    height: 100%;
    width: 100%;
    display: block;
}

div.result_container_footer{
    width: 100%;
    height: 30px;
    margin: 20px;
}

div.result_container{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    float: left;
}

.overlay {
    position: absolute; 
    top: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.overlay div {
    position: relative;
    display: inline-block;
    top: 50%;
    margin: -50% 5px 0 0;
}

.result_container:hover .overlay {
    opacity: 1;
}

.overlay div{
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.btn-accept{
    background-color: #99ff33;
}
.btn-reject{
    background-color: #ff3333;
}

.container-table{
    margin-top: 20px;
    margin-left:  auto;
    margin-right: auto;
    width: 50%;
    float: none;
}
table tr, td{
    border-style: solid;
}

.form-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}